
@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body onload="getData()">

    <table class="table table-bordered table-hover">
        <tr>


            <th>Order Item</th>
            <th>Item Detail</th>

        </tr>
        <tr>
        <td id="name"></td>
        <td id="detail"></td>
        </tr>

</body>
<script>
    function getData() {
        var data = window.sessionStorage.getItem("data");
        
        $.ajax({
            type: 'POST',
            url: "@Url.Action("getDetailedData","Home")",
            contentType: 'application/json',
            data: JSON.stringify({data : data}),
            success: function (response) {
                for (var prop in response) {
                    if(prop !="Id")
                    document.getElementById(prop).innerHTML = response[prop];
                }
            }
        });
        //document.getElementById("name").innerHTML = data;
        
    }
    
</script>



